@model ServiceGateway.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Order Details</h2>

<div>
    <hr />
    <dl class="container itemContainer dl-horizontal">
        <br />
        <div class="myDisplayFor">
            <dt>
                Name
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.FirstName)
                @Html.DisplayFor(model => model.User.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt>
                Movie(s)
            </dt>
            <dd>
                @foreach (var item in Model.Orderlines)
                {
                    @Html.DisplayFor(modelItem => item.PlatformGame.GameId)
                }
            </dd>
            <br />
            <dd>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
                </p>
            </dd>
        </div>
    </dl>
</div>
