@model MVOGamesUI.Areas.Admin.ViewModels.OrderGames

@{
    ViewBag.Title = "Details Order";
}

<h2>Order Details</h2>
<div>
    <hr />
    <dl class="container itemContainer dl-horizontal">
        <div class="col-lg-12">
            <br />
            <dt>
                Name
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GetOrder().User.FirstName)
                @Html.DisplayFor(model => model.GetOrder().User.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.GetOrder().Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GetOrder().Date)
            </dd>
            <dt>
                Total price
            </dt>
            <dd>
                @{
                    decimal sum = 0;
                    foreach (var order in Model.GetOrderlines())
                    {
                        sum = sum + order.Amount * order.PlatformGame.Price;
                    }
                }
                @sum
            </dd>
            <br />
        </div>
        <div class="col-lg-12">
            <table class="table table-condensed">
                @*<tr>
                    <h2><strong>Ordered Games</strong></h2>
                </tr>*@
                <tr class="tablehederColor">
                    <th>
                        Game(s)
                    </th>
                    <th>
                        Platform
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Unit Price
                    </th>
                </tr>
                @foreach (var order in Model.GetOrderlines())
                {
                    <tr>
                        <td>
                            @Html.Label(order.PlatformGame.Game.Title)
                        </td>
                        <td>
                            @Html.Label(order.PlatformGame.Platform.Name)
                        </td>
                        <td>
                            @Html.Label(order.Amount.ToString())
                        </td>
                        <td>
                            @Html.Label(order.PlatformGame.Price.ToString())
                        </td>
                    </tr>
                    <br />
                }
            </table>
            <p align="right">
                @Html.ActionLink("Edit", "Edit", new { id = Model.GetOrder().Id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
            </p>
            <br />
        </div>
    </dl>
</div>