@model MVOGamesUI.Areas.Admin.ViewModels.OrderGames

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Order</h2>

<hr />
<div>
    <dl class="container itemContainer dl-horizontal">
        <br />
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GetOrder().User.FirstName)
            @Html.DisplayFor(model => model.GetOrder().User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GetOrder().Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GetOrder().Date)
        </dd>
        <dt>
            Total price
        </dt>
        <dd>
            @Html.Action("GetTotalSum", "Orders", new { orderlines = Model.GetOrderlines(), platformGames = Model.GetPlatformGames()}) DKK
        </dd>
        <br />

        <br />
        <div>
            <table class="table table-condensed">
                <tr class="tablehederColor">
                    <th>
                        Game(s)
                    </th>
                    <th>
                        Platform
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Discount
                    </th>
                    <th>
                        Unit Price
                    </th>
                    <th></th>
                </tr>
                @foreach (var order in Model.GetOrderlines())
            {
                    <tr>
                        <td>
                            @foreach (var platformGame in Model.GetPlatformGames())
                            {
                                if (order.PlatformGameId == platformGame.Id)
                                {
                                    @Html.Label(platformGame.Game.Title)
                                }
                            }
                        </td>
                        <td>
                            @foreach (var platformGame in Model.GetPlatformGames())
                            {
                                if (order.PlatformGameId == platformGame.Id)
                                {
                                    @Html.Label(platformGame.Platform.Name)
                                }
                            }
                        </td>
                        <td>
                            @Html.Label(order.Amount.ToString())
                        </td>
                        <td>
                            @Html.Label(order.Discount.ToString())
                        </td>
                        <td>
                            @foreach (var platformGame in Model.GetPlatformGames())
                            {
                                if (order.PlatformGameId == platformGame.Id)
                                {
                                    @Html.Label(platformGame.Price.ToString())
                                }
                            }

                        </td>
                        <td align="right">
                            <a href='@Url.Action("DeleteGameFromOrder", "Orders", new { id = order.Id, orderId = Model.GetOrder().Id})' class="btn btn-danger">Remove</a>
                        </td>
                    </tr>
                    <br />
                }
            </table>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <p align="right">
                    <a href="@Url.Action("NewGameToOrder", "Orders", new { area = "Admin", orderId = Model.GetOrder().Id})" class="btn btn-success">New</a>
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
                </p>
            }
        </div>
    </dl>
</div>

