@model MVOGamesUI.Areas.User.ViewModels.GamePlatformGenre

@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="~/Content/SpecialCSS/UserGamesView.css" />

</head>

<div class="container itemContainer">
    <div class="col col-lg-2 col-md-2 col-sm-4 divSidebar">

        <ul id="sidebar" class="nav nav-stacked affix">
            <li>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for game" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </li>
            <li class="liSidebar headerSidebar">
                <h3>Platform</h3>
            </li>
            @foreach (var platform in Model.Platforms)
            {
                <li class="liSidebar"><a href="#">@platform.Name</a></li>
            }
            <li class="liSidebar headerSidebar">
                <h3>Genres</h3>
            </li>
            @foreach (var genre in Model.Genres)
            {
                <li class="liSidebar"><a href="#">@genre.Name</a></li>
            }
       
        </ul>


    </div>
    <div class="col-sm-8 col-md-10 col-lg-10">
        <div class="panel-body">
            <div class="items">
                @foreach (var game in Model.Games)
                {
                    <div class="item">
                        <img id="imgCover" src="@game.CoverUrl" alt="item"/>
                        <h2>@game.Title</h2>
                        <a class="info" href='@Url.Action("Details", "Games", new { id = game.Id })'>Details</a>
                        <button id="btnBuy" type="button" class="btn btn-info">Add!</button>
                    </div>
                    <div class="item">
                        <img id="imgCover" src="@game.CoverUrl" alt="item"/>
                        <h2>@game.Title</h2>
                        <a class="info" href='@Url.Action("Details", "Games", new {id = game.Id})'>Details</a>
                        <button id="btnBuy" type="button" class="btn btn-info">Add!</button>
                    </div>
                    <div class="item">
                        <img id="imgCover" src="@game.CoverUrl" alt="item"/>
                        <h2>@game.Title</h2>
                        <a class="info" href='@Url.Action("Details", "Games", new {id = game.Id})'>Details</a>
                        <button id="btnBuy" type="button" class="btn btn-info">Add!</button>
                    </div>
                    <div class="item">
                        <img id="imgCover" src="@game.CoverUrl" alt="item"/>
                        <h2>@game.Title</h2>
                        <a class="info" href='@Url.Action("Details", "Games", new {id = game.Id})'>Details</a>
                        <button id="btnBuy" type="button" class="btn btn-info">Add!</button>
                    </div>
                    <div class="item">
                        <img id="imgCover" src="@game.CoverUrl" alt="item"/>
                        <h2>@game.Title</h2>
                        <a class="info" href='@Url.Action("Details", "Games", new {id = game.Id})'>Details</a>
                        <button id="btnBuy" type="button" class="btn btn-info">Add!</button>
                    </div>
                    <div class="item">
                        <img id="imgCover" src="@game.CoverUrl" alt="item"/>
                        <h2>@game.Title</h2>
                        <a class="info" href='@Url.Action("Details", "Games", new {id = game.Id})'>Details</a>
                        <button id="btnBuy" type="button" class="btn btn-info">Add!</button>
                    </div>
                    <div class="item">
                        <img id="imgCover" src="@game.CoverUrl" alt="item"/>
                        <h2>@game.Title</h2>
                        <a class="info" href='@Url.Action("Details", "Games", new {id = game.Id})'>Details</a>
                        <button id="btnBuy" type="button" class="btn btn-info">Add!</button>
                    </div>
                    <div class="item">
                        <img id="imgCover" src="@game.CoverUrl" alt="item" />
                        <h2>@game.Title</h2>
                        <a class="info" href='@Url.Action("Details", "Games", new { id = game.Id })'>Details</a>
                        <button id="btnBuy" type="button" class="btn btn-info">Add!</button>
                    </div>


                }
            </div>
        </div>
    </div>

</div>