@model MVOGamesUI.Areas.Admin.ViewModels.GameEditVM

@{
    ViewBag.Title = "Details";
}

<h2><strong>Game Details</strong></h2>

<hr />
<div class="container itemContainer dl-horizontal">
    <br />
    <div class="col-md-8">
        <dt>
            @Html.DisplayNameFor(model => model.GetGames().Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetGames().Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GetGames().ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetGames().ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GetGames().CoverUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetGames().CoverUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GetGames().TrailerUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetGames().TrailerUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GetGames().Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetGames().Description)
        </dd>

        <br />
        <dt>
            @Html.DisplayNameFor(model => model.GetGames().Genres)
        </dt>

        <dd>
            @foreach (var genre in Model.GetGenres())
            {
                @Html.DisplayFor(model => genre.Name)
                <br />
            }
        </dd>

        <br />
        <dd>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.GetGames().Id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
            </p>
        </dd>


    </div>
    <div class="col-md-4">
        <table class="table table table-condensed">
            <thead class="table">
                <tr class="tablehederColor">
                    <th class="col-md-1">
                        Platform
                    </th>
                    <th class="col-md-1">
                        In Stock
                    </th>
                    <th class="col-md-1">
                        Price
                    </th>
                </tr>
            </thead>
            @foreach (var platformsGames in Model.GetPlatformGames())
            {
                <tbody>
                    <tr>
                        <td>
                            @platformsGames.Platform.Name
                        </td>
                        <td>
                            @platformsGames.Stock
                        </td>
                        <td>
                            @platformsGames.Price
                        </td>
                    </tr>
                </tbody>

            }
        </table>
    </div>
</div>

