@model IEnumerable<ServiceGateway.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2><strong>Games</strong></h2>
<p>
    <button class="btn btn-success" onclick="window.location.href = '@Url.Action("Create", "Games")'">Create Game</button>
</p>
<table class="table table table-condensed table-hover">
    <thead class="table">
        <tr style="background-color:#303030;">
            <th class="col-md-1">
                Cover
            </th>
            <th class="col-md-2">
                Title
            </th>
            <th class="col-md-2">
                Release Date
            </th>
            <th class="col-md-1">
                Trailer
            </th>
            <th class="col-md-3">
                Description
            </th>
            <th class="col-md-1">
                Genre
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @if (item.CoverUrl.IsEmpty() == true)
                {
                        <img src="/content/images/CommingSoon2.gif" class="smallPic" />
                    }
                    else
                    {
                        <img src="@item.CoverUrl" class="smallPic" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @if (item.TrailerUrl.IsEmpty() == true)
                {
                        <img src="/Content/images/CommingSoon.png" class="trailer" />
                    }
                    else
                    {
                        <iframe src="@item.TrailerUrl"
                                class="trailer"
                                frameborder="0"
                                allowfullscreen="true"
                                autostart="false"
                                allowscriptaccess="always"></iframe>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @foreach (var genre in item.Genres)
                {
                        <div>@Html.DisplayFor(modelItem => genre.Name)</div>
                    }
                </td>
                <td class="col-md-12" align="right">
                    <button class="btn btn-warning" style="margin-right:5px; width:60%" onclick="window.location.href = '/Games/Edit/@item.Id'">Edit</button><br />
                    <button class="btn btn-info" style="margin-right:5px; width:60%" onclick="window.location.href = '/Games/Details/@item.Id'">Details</button><br />
                    <button class="btn btn-danger" style="margin-right:5px; width:60%" onclick="window.location.href = '/Games/Delete/@item.Id'">Delete</button>

                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        </tbody>
    }

</table>
