@model MVOGamesUI.Areas.User.ViewModels.UserCrew
@{
    ViewBag.Title = "Index";
}

<div class="itemContainer container">
    <h2 class="detailsHeader">@Model.User.Username</h2>

    <br/>
    <p>@Model.User.FirstName&nbsp;@Model.User.LastName</p>
    <p>@Model.User.Email</p>
    <p>@Model.User.ZipCode</p>
    <p>@Model.User.City</p>
    <p>@Model.User.StreetName&nbsp;@Model.User.HouseNr</p>

    <div>
        @foreach (var crew in Model.Crews)
        {
            <p>@crew.Name</p>
        }
    </div>
</div>