@model MVOGamesUI.Areas.User.ViewModels.UserCrew
@{
    ViewBag.Title = "Index";
}

<div class="itemContainer container">
    <div class="col col-lg-8 col-md-8 col-sm-9">
        <h2 class="detailsHeader">@Model.User.Username</h2>
        <h4>@ViewBag.message</h4>
    <br/>
        @{ Html.RenderPartial("_UserInformation", Model.User); }
    </div>
<div class="col col-lg-4 col-md-4 col-sm-3">
    <div class="panel panel-default crewPanel">
        <div class="panel-heading">
            <h4>My Crews</h4>
        </div>
        <div class="panel-body">
            @if (Model.Crews.Count<1)
            {
                <h5>You are currently not in any crew</h5>
            }
            else
            {
                foreach (var crew in Model.Crews)
                {
                    <div class="panel-group panelCrewSingle">
                            <img src="@crew.CrewImgUrl" class="crewImg"/>
                            <a href="@Url.Action("MyCrew", "Crews", new {id = crew.Id})">@crew.Name</a>
                    </div>
                }
            }
        </div>
    </div>

</div>
</div>