@model DTOModels.Models.UserDTO

@{
    ViewBag.Title = "Details";
}

<h2><strong>User Details</strong></h2>

<div>
    <hr />
    <dl class="container itemContainer dl-horizontal">
        <br />
        <dt>
            Role
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <br />
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
        </p>
    </dl>
</div>