@model IEnumerable<DTOModels.Models.UserDTO>

@{
    ViewBag.Title = "Index";
}

<h2><strong>Users</strong></h2>
<div class="container itemContainer">
    <div>
        <div class="col-lg-6 col-md-3 col-xs-3" align="left">
            <button class="buttonCreateU btn btn-success" onclick="window.location.href = '@Url.Action("Create", "Users")'">Create User</button>
        </div>
        <div class="gamePanel col-lg-6 col-md-3 col-xs-3" align="right">
            <div align="left" class="panel panel-body panel-danger orderPanel">
                <strong>Search</strong>
                <div>
                    @using (Html.BeginForm())
                    {
                        <p>
                            <input type="text" id="search" name="search" placeholder="Search" />
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
    <table class="table table table-condensed table-hover">
        <thead class="table">
            <tr style="background-color:#303030;">
                <th>
                    @Html.DisplayNameFor(model => model.Role.RoleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
            {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.RoleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="col-md-3" align="right">
                        <button class="btn btn-warning" style="width:65px" onclick="window.location.href = '/Admin/Users/Edit/@item.Id'">Edit</button> |
                        <button class="btn btn-info" onclick="window.location.href = '/Admin/Users/Details/@item.Id'">Details</button> |
                        <button class="btn btn-danger" onclick="window.location.href = '/Admin/Users/Delete/@item.Id'">Delete</button>
                    </td>
                </tr>
            </tbody>
        }

    </table>
</div>